<ion-tabs [selectedIndex]="mySelectedIndex" name="fortis">
    <ion-tab [root]="videosRoot" tabTitle="Videos" tabIcon="film"></ion-tab>
    <ion-tab [root]="picturesRoot" tabTitle="Pictures" tabIcon="images"></ion-tab>
    <ion-tab [root]="mapRoot" tabTitle="Map" tabIcon="map"></ion-tab>
    <ion-tab [root]="aboutRoot" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
