<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Videos</ion-title>        
    </ion-navbar>
</ion-header>

<ion-content>
</ion-content>
