<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pictures</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let feed of feeds">
        <img [src]="feed.image">
        <ion-card-content>
            <ion-card-title>
                {{feed.name}}
            </ion-card-title>
            <p>              
                {{feed.hits}} Reviews
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
