<ion-header>
    <ion-navbar>
        <ion-title>tutorial</ion-title>
        <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="primary">Skip</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>
        <ion-slide>
            <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
            <h2 class="slide-title">Welcome to <b>Fortis</b></h2>
            <p>
                The <b>Fortis app</b> is a mobile application based on the ionic framework in action.
            </p>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
            <h2 class="slide-title">What is Ionic?</h2>
            <p><b>This app</b> is multi-platform (Android, iOS, WindowsPhoe) with technologies JavaScript, CSS, HTML5.</p>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
            <h2 class="slide-title">What is Ionic Platform?</h2>
            <p>The <b>Ionic Platform</b> is a cloud platform for managing and scaling Ionic apps with integrated services like push notifications, native builds, user auth, and live updating.</p>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
            <h2 class="slide-title">Ready to Play?</h2>
            <button ion-button icon-end large clear (click)="startApp()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>
